<h2>Welcome, <%=@user.first_name%>! </h2><form id="some-id" method="POST" action="/authenticate" ></form>
<%if !@user.added_plaid%>
<button id="plaidLinkButton" class: "btn btn-primary">Open Plaid Link</button>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
window.onload = function(){
  console.log('<%="#{ENV['PLAID_PUBLIC']}"%>');
};
var sandboxHandler = Plaid.create({
  env: 'tartan',
  clientName: 'Money Watch',
  key: '0172ac1d0ac59010c471ca20d039d3',
  product: 'connect',
  onSuccess: function(public_token, metadata) {
    console.log(public_token, metadata);
    $.ajax({
      method: 'PATCH',
      url: '<%= api_v1_user_path(current_user.id) %>',
      data: {
          public_token: public_token
      }
    });
    window.location = "<%=request.base_url%>/transactions"
  }
});


document.getElementById('plaidLinkButton').onclick = function() {
  // Trigger the "Institution Select" view
  sandboxHandler.open();
};
</script>
<%end%>
<div class="ibox-content">
<%= form_tag "/users/#{@user.id}", method: :patch, :class => "form-group" do %>
  <div>
    <%= label_tag :first_name, "First Name: "%>
    <%= text_field_tag :first_name, @user.first_name%>
  </div>
  <div>
    <%= label_tag :last_name, "Last Name: "%>
    <%= text_field_tag :first_name, @user.last_name%>
  </div>
  <div>
    <%= label_tag :savings_goal, "Savings Goal: "%>
    <%= text_field_tag :savings_goal, @user.savings_goal%>
  </div>
  <div>
    <%= label_tag :expense_budget, "Expense Budget: "%>
    <%= text_field_tag :expense_budget, @user.expense_budget%>
  </div>
  <div>
    <%= submit_tag "Submit", class: "btn btn-primary"%>
  </div>
</div>
<%end%>
