<h1> Edit Transaction</h1>
<div class="ibox-content">
<%= form_tag "/transactions/#{@transaction.id}", method: :patch, :class => "form-group" do %>
  <div>
    <%= label_tag :amount, "Amount"%>:
    <%= text_field_tag :amount, @transaction.amount%>
  </div>
  <div>
    <%= label_tag :category_id, "Category:"%>
    <%= select_tag :category_id, options_for_select([["Bank Fees", "10"], ["Cash Advance","11"], ["Community","12"],["Food and Drink","13"], ["Healthcare","14"], ["Interest","15"], ["Payment","16"], ["Recreation","17"], ["Service","18"], ["Shops","19"], ["Tax","20"], ["Transfer","21"], ["Travel", "22"]])%>
  </div>
  <div>
    <%= label_tag :date, "Day of the Month:"%>:
    <%= select_tag :date, options_for_select(1..31, @transaction.date) %>
  </div>
  <div>
    <%= hidden_field_tag :location, @transaction.location%>
    <%= hidden_field_tag :category_id, @transaction.category_id%>
    <%= hidden_field_tag :plaid_id, @transaction.plaid_id%>
    <%= hidden_field_tag :user_id, @user_id%>
    <%= hidden_field_tag :date, @transaction.date%>
  </div>
  <div>
    <%= submit_tag "Submit", class: "btn btn-primary block full-width m-b"%>
  </div>
</div>
<%end%>