 <h3>Here are your most recent deductions/purchases:</h3>
<div class="container-fluid">
 <div class="row">
    <%@positive.each do |trans|%>
      <div class="col-md-4">
        <div class="ibox-content">
          Location: <%= link_to "#{trans.name[0..30].gsub(/\s\w+$/,'...')}", "/transactions/#{trans.id}/edit" %><br>
          Amount: <%=number_to_currency(trans.amount)%><br>
          Date: <%=trans.date%>
        </div>
      </div>
    <%end%>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <h3>Here are the most recent credits to your account</h3>
    <%@negative.each do |trans|%>
      <div class="col-md-4">
        <div class="ibox-content">
            Location: <%=link_to "#{trans.name[0..35].gsub(/\s\w+$/,'...')}", "/transactions/#{trans.id}/edit" %><br>
            Amount: <%=number_to_currency(trans.amount.abs)%><br>
            Date: <%=trans.date.strftime("%m-%d-%y")%><br>
        </div>
      </div>
    <%end%>
  </div>
</div>
</br>
</br>
</br>
</br>