<h1> Edit Expense</h1>
<div class="ibox-content">
<%= form_tag "/expenses/#{@expense.id}", method: :patch, :class => "form-group" do %>
  <div>
    <%= label_tag :amount, "Amount"%>:
    <%= text_field_tag :amount, @expense.amount%>
  </div>
  <div>
    <%= label_tag :date, "Day of the Month:"%>:
    <%= select_tag :date, options_for_select(1..31, @expense.date) %>
  </div>
  <div>
    <%= label_tag :description, "Descrption"%>:
    <%= text_field_tag :description, @expense.description%>
  </div>
  <div>
    <%= submit_tag "Submit", class: "btn btn-primary block full-width m-b"%>
  </div>
</div>
<%end%>
