
<!DOCTYPE html>
<html>
    

    
    
<head>
    <%= include_gon %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Money Watch</title>

    <%= csrf_meta_tags %>


</head>

<body>

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div> <span>
                    <p>MW</p>
                        <!-- <img alt="image" class="img-circle" src="MW" />-->
                        <!-- https://mccallwilliamsfitness.files.wordpress.com/2016/05/logo.png -->
                            
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"></strong>
                             </span> <span class="text-muted text-xs block"><%=@current_user.first_name%> <%=@current_user.last_name%> <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="/expenses">Expenses</a></li>
                            <li class="divider"></li>
                            <li><a href="/users/logout">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        MW
                    </div>
                </li>
                <li>
                    <a href="/home"><i class="fa fa-home"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/home"><i class="fa fa-area-chart"></i>Home</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/transactions"><i class="fa fa-bank"></i> <span class="nav-label">Bank Transactions</span></a>
                </li>
                <li>
                    <a href="/expenses"><i class="fa fa-money"></i> <span class="nav-label">Expenses</span></a>
                </li>
                <li>
                    <a href="/calendar"><i class="fa fa-calendar"></i> <span class="nav-label">Expense Calendar</span></a>
                </li>
                <%if current_user.grab_other != nil%>
                    <li>
                        <a href="/other"><i class="fa fa-check-square-o"></i> <span class="nav-label">Update Categories</span>  <span class="pull-right label label-primary">Help Us!</span></a>
                    </li>
                <%end%>
                <li>
                    <a href="/settings"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
               
            </div>
            <ul class="nav navbar-top-links navbar-right">
            =

                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
            </div>
        </nav>
        
    <!-- Mainly scripts -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </script>
    <div class = "container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%name%>-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> <%=message%></strong>
      <%end%>
    </div>

    <%= yield %>

</body>

</html>